.blog {
    font-family: monospace;
    font-size:x-large;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cabecalho {
    font-family: monospace;
    font-size: large;
    max-width: 50vw;
    height: 20vh;
    margin: 0 auto;
}

.caixa1 {
    width: 20vw;
    height: 4vh;
    margin: 1vh 2.5vw;
    float: left;
    background-color: tomato;
}

.topicos {
    font-family: monospace;
    font-size: large;
    max-width: 50vw;
    max-height: 100vh;
    margin: 0 auto;
}

.caixa2 {
    text-align:justify;
    width: 20vw;
    height: 45vh;
    margin: 2.5vh 2.5vw;
    background-color: aqua;
    float: left
}

.caixa3 {
    text-align:justify;
    width: 20vw;
    height: 45vh;
    margin: 2.5vh 2.5vw;
    background-color:blueviolet;
    float: left
}

.ancora {
    width: 100%;
    float:left;
}