.cabecalho1{
    display: flex;
    flex-direction:inherit;
    justify-content: center;
    
}

.cabecalho2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topicos1{
    display: flex;
    flex-direction:inherit;
    justify-content: center;
}

.topicos2{
    display: flex;
    flex-direction:inherit;
    justify-content: center;
}

.blog {
    font-family:cursive;
    /* margin-left: 50%; */
    display: flex;
    flex-direction:inherit;
    justify-content: center;
}

.nome {
    font-family:cursive;
    font-size: large;
    background-color: tomato;   
    height: 30px;
    width: 230px;
    margin: 20px 2% 20px 0px;
}

.curso {
    font-family:cursive;
    font-size: large;
    background-color: tomato;   
    height: 30px;
    width: 230px;
    margin: 20px 2% 20px 0px;
}

.nascimento {
    font-family:cursive;
    font-size: large;
    background-color: tomato;   
    height: 30px;
    width: 230px;
    margin: 20px 2% 20px 0px;
}

.atualizacao {
    font-family:cursive;
    font-size: large;
    background-color: tomato;   
    height: 55px;
    width: 230px;
    margin: 20px 2% 20px 0px;
}

.rotina {
    font-family:cursive;
    font-size: large;
    background-color: aqua;
    height: 450px;
    width: 300px;
    margin: 20px 2% 20px 0px;
}

.hobbies {
    font-family:cursive;
    font-size: large;
    background-color:blueviolet;
    height: 450px;
    width: 300px;
    margin: 20px 2% 20px 0px;
}

.artistas {
    font-family:cursive;
    font-size: large;
    background-color: aqua;
    height: 450px;
    width: 300px;
    margin: 20px 2% 20px 0px;
}

.viagens {
    font-family:cursive;
    font-size: large;
    background-color:blueviolet;
    height: 450px;
    width: 300px;
    margin: 20px 2% 20px 0px;
}